@mixin maxWidth($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin minWidth($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
.Question {
  background-color: #ecf0f1;
}
.Question-content {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.ListQuestion {
  width: 550px;
  padding-bottom: 50px;
}
.InputQuestion {
  width: 370px;
  margin-bottom: 30px;
  background-color: white;

  padding: 20px 16px;
  border-radius: 15px;
  box-shadow: #000000 1px 2px 10px 0px;
  &-title {
    font-size: 20px;
    text-align: center;
  }
  &-info {
    display: flex;
    justify-content: space-between;
  }
  &-textarea {
    padding-top: 15px;

    textarea {
      display: block;
      width: 100%;
      padding: 15px;
      height: 200px;
    }
  }
  &-image {
    padding-top: 15px;
    font-weight: 700;
    span {
      margin-right: 15px;
    }
    input {
      border: 2px solid #ccc;
      padding: 0 5px;
    }
  }
  &-major {
    font-weight: 700;
    padding-top: 15px;
    select {
      margin-left: 15px;
      outline: none;
      background-color: white;
      padding: 2px 5px;
      border: 2px solid transparent;
      box-shadow: 1px 0 5px 0 #000000;
    }
    select:focus {
      border-color: #3498db;
      box-shadow: none;
    }
  }

  &-submit {
    padding-top: 20px;
    text-align: center;
    button {
      width: 90%;
      background-color: #00cba7;
      color: white;
      border: none;
      border-radius: 16px;
      font-size: 20px;
      font-weight: 700;
      padding: 5.25px 10.5px;
    }
  }
  .input-gender {
    font-weight: 600;
    input {
      margin-left: 20px;
      margin-right: 10px;
    }
  }
  .input-age {
    input {
      width: 60px;
      font-size: 16px;
      background-color: #bdc3c7;
      outline: none;
      border-radius: 5px;
      padding: 0px 11px;
      border: 2px solid transparent;
      margin-right: 10px;
    }
    input:focus {
      border-color: #3498db;
    }
    span {
      color: red;
    }
  }
}
.DetailQuestion {
  background-color: white;
}
.ItemQuestion {
  a {
    text-decoration: none;
    color: black;
  }
  &-major {
    font-size: 20px;
    font-weight: 700;
    color: #3498db;
  }
  &-info {
    font-weight: 500;
    font-size: 16px;
    color: black;
  }
  &-textarea {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
  &-detail {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600px;
    color: white;
    padding: 5px 10px;
    background-color: #2ecc71;
    display: inline-block;
    border-radius: 15px;
  }
  img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    height: auto;
  }
  &-time {
    font-size: 16px;
    color: #636e72;
    font-weight: 600;
  }
}
.InputComment {
  textarea {
    width: 100%;
    outline: none;
    border: 2px solid #2c3e50;
    height: 80px !important;
    padding: 10px;
    &:focus {
      border-color: #2ecc71;
    }
  }
  button {
    margin-top: 15px;
    outline: none;
    border: none;
    color: white;
    background-color: #2ecc71;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 5px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 25px;
}
.ItemComment {
  background-color: #e7ecf4;
  padding: 15px;
  font-weight: 500;
  margin-bottom: 20px;
  .roledoctor {
    background-color: #c0392b;
  }
  .roleuser {
    background-color: #3498db;
  }
  &-user {
    color: white;

    padding: 5px 10px;
  }
}
.validate-text {
  display: block;
  color: red;
  font-weight: 300;
}
.validate {
  .validate-text {
    display: none;
  }
}
.Question {
  @include maxWidth(767px) {
    .ListQuestion {
      width: 100%;
    }
    .InputQuestion {
      margin-top: 20px;
      width: 100%;
    }
    &-content {
      flex-direction: column;
    }
  }
}
