.body_login_logout{
  display: flex;
  align-items: center;
  .form{
    display: flex;
    flex-direction: column;
    width:35vw;
    max-width: 300px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 10px;
  }
  .form_main{
    display: flex;
    flex-direction: column;
  }
  .input_group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .input_group input {
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 10px;
    margin-top: 4px;
  }
 
  .err_span_block{
    display: block;
    font-size: 12px;
    color: red;
    margin-top: 5px;
  }
  .err_span_none{
    display: none;
  }
  .radio_input_group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    
  }
  .radio_input_group label{
    margin-right: 7px;
  }
  .navbar_login_logout {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .navbar_login_logout a{
    border: 1px groove #262213;
    color :#262213;
    padding: 5px;
  }
  .navbar_login_logout a:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
  }
  .submit_button {
    background-color: rgb(81, 142, 223);
    height: 34px;
    border-radius: 4px;
    border: none;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .submit_button:hover{
    cursor: pointer;
  }
}