@mixin maxWidth($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin minWidth($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
.CreatePost {
  min-height: 50vh;
  @include maxWidth(767px) {
    &-title {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      input {
        margin-left: 0 !important;
      }
    }
  }
  &-title {
    padding-top: 30px;
    display: flex;
    align-items: baseline;
    span {
      font-weight: 600;
      font-size: 20px;
    }
    input {
      flex: 1;
      margin-left: 15px;
      font-size: 20px;
      outline: none;
      border: solid 1px #ccc;
      padding: 5px 10px;
      &:focus {
        border-color: green;
      }
    }
  }

  &-button {
    margin-top: 15px;

    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    a {
      color: white;
    }
    &-cancel {
      background-color: #e74c3c;
      color: white;
      padding: 5px 15px;
      border-radius: 5px;
    }
    &-submit {
      border: none;
      outline: none;
      color: white;
      background-color: #00ba99;
      padding: 5px 15px;
      border-radius: 5px;
    }
  }
  &-quill {
    margin-top: 50px;
    border: 2px solid #2c3e50;
    p {
      font-size: 16px;
    }
  }
}
