@mixin maxWidth($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin minWidth($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

.Home-Image {
  position: relative;
  width: 100%;
  height: 500px;

  img {
    width: 100%;
    height: 100%;
    // height: auto;
    object-fit: cover;
  }

  .btnSearch {
    width: 50%;
    height: 50.5px;
    border: 1px solid #13cfae;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #13cfae;
    color: white;
    margin: auto;
    &:hover{
      background-color: #00bd9a;
      color: white;
    }
  }
  @include maxWidth(376px){
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .btnSearch {
      width: 70%;
      height: 50.5px;
      border: 1px solid #13cfae;
      border-radius: 5px;
      padding: 0 10px;
      background-color: #13cfae;
      color: white;
      margin: auto;
      &:hover{
        background-color: #00bd9a;
        color: white;
      }
    }
  }
}
.Home-Content {
  text-align: center;
  color: #2c3e50;
  h3 {
    font-size: 40px;
    font-weight: 600;
  }
  p {
    font-size: 20px;
    font-weight: 500;
  }
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include maxWidth(376px){
    h3 {
      font-size: 25px;
      font-weight: 600;
      width: 200px;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      width: 210px;
    }
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.product_details {
  padding: 50px 0 50px;
  .featured_product h5 {
    font-weight: 500;
    font-size: 18px;
    margin-left: 270px;
    color: #0f0f0f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 17%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #323232;
    }
  }
  .product_news {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;

    .product_detail {
      padding: 20px;
      max-width: 200px;
      height: 300px;
      background-color: white;
      box-shadow: 1px 3px 10px -5px #000000;
      font-size: 13.5px;
      margin: 0 10px;
      border-radius: 10px;
      border: 1.5px solid transparent;
      &:hover {
        border-color: #13cfae;
        cursor: pointer;
      }
      .detail p {
        margin-bottom: 0px;
      }
      .detail p:first-child {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
      }
      .detail p:last-child {
        font-weight: 500;
      }
    }
  }
  .product {
    margin: 70px 0 20px 0;
    .product-list {
      display: flex;
      justify-content: center;
      margin: 10px 20px;
      .product-list_items {
        width: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 10px;
        box-shadow: 1px 3px 10px -5px #000000;
        margin: 0 10px;
        padding: 0 10px;

        background-color: rgb(254, 254, 254);
        &:hover {
          border-color: #13cfae;
          cursor: pointer;
        }
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
        .product-list_items-content {
          margin: 0 20px;
          p:first-child {
            font-size: 16px;
            font-weight: 700;
            color: #001a4b;
            margin-top: 10px;
            margin-bottom: 5px;
          }
          p:last-child {
            font-family: 400;
            color: gray;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  @include maxWidth(852px){
    .featured_product h5 {
      font-weight: 500;
      font-size: 14px;
      margin-left: 100px;
      color: #0f0f0f;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 60%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #323232;
      }
    }
    .product_news {
      position: relative;
      top: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  
      .product_detail {
        padding: 20px;
        max-width: 225px;
        height: 300px;
        background-color: white;
        box-shadow: 1px 3px 10px -5px #000000;
        font-size: 13.5px;
        margin: 0 10px;
        border-radius: 10px;
        border: 1.5px solid transparent;
        margin-bottom: 20px;
        &:hover {
          border-color:#13cfae;
          cursor: pointer;
        }
        .detail p {
          margin-bottom: 0px;
        }
        .detail p:first-child {
          font-size: 20px;
          font-weight: 500;
          text-align: center;
        }
        .detail p:last-child {
          font-weight: 500;
        }
      }
    }
    .product {
      margin: 70px 0 20px 0;
      .product-list {
        display: flex;
        justify-content: center;
        margin: 10px 20px;
        flex-wrap: wrap;
        .product-list_items {
          width: 650px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid transparent;
          border-radius: 10px;
          box-shadow: 1px 3px 10px -5px #000000;
          margin: 10px 10px;
          padding: 0 10px;
  
          background-color: rgb(254, 254, 254);
          &:hover {
            border-color: #13cfae;
            cursor: pointer;
          }
          img {
            width: 10%;
            // height: 20%;
            object-fit: cover;
          }
          .product-list_items-content {
            margin: 0 20px;
            p:first-child {
              font-size: 16px;
              font-weight: 700;
              color: #001a4b;
              margin-top: 10px;
              margin-bottom: 5px;
            }
            p:last-child {
              font-family: 400;
              color: gray;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.company_detail {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  // padding: 20px 160px;
  color: rgb(0, 0, 0);
  transform: translateY(70px);
  margin: 0 0 50px 40px;
  .company_intro {
    width: 70%;
    margin-bottom: 20px;
  }
  .more_about_us {
    padding-top: 5px;
    text-align: center;
    width: 250px;
    height: 40px;
    background-color: #13cfae;
    cursor: pointer;
    border-radius: 5px;
    color: white;

    &:hover {
      border: 1px solid;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      color: #13cfae;
      background-color: white;
    }
  }
  @include maxWidth(375px){
      .company_intro {
        width: 100%;
        margin-bottom: 20px;
        .company_intro h3{
          width: 50px;
          font-size: 18px;
        }
        .company_intro p{
          width: 500px;
          font-size: 14px;
        }
      }
      .more_about_us {
        padding-top: 5px;
        text-align: center;
        max-width: 250px;
        max-height: 40px;
        background-color: #13cfae;
        cursor: pointer;
        border-radius: 5px;
        color: white;
    
        &:hover {
          border: 1px solid;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          color: #13cfae;
          background-color: white;
        }
      }
  }
}

.news-events {
  position: relative;
  width: auto;
  height: auto;
  top: 70px;
  // padding: 20px 160px;
  object-fit: cover;
  border-radius: 3px;
  background-color: rgb(250, 250, 250);
  
  .news_title {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 15px;
  }
  .card{
    margin: 0 20px;
    margin-bottom: 70px;
    &:hover {
      cursor: pointer;
    }
  }
  .cards_news {
    display: flex;
    justify-content: space-around;
  }
  .card p:last-child {
    color: gray;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
  }
  .card p:last-child:hover {
    color: #222222;
  }
  .card h5 {
    cursor: pointer;
  }

  .card p {
    color: gray;
  }
  @include maxWidth(900px){
    .news_title {
      font-size: 20px;
      font-weight: 500;
      padding: 20px 15px;
    }
    .card{
      margin-bottom: 20px;
    }
    .cards_news {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .card p:last-child {
      color: gray;
      font-size: 13px;
      font-weight: 700;
      text-decoration: none;
    }
    .card p:last-child:hover {
      color: #222222;
    }
    .card h5 {
      cursor: pointer;
    }
  
    .card p {
      color: gray;
    }
  }
}

.company_achivement {
  .achivement_list {
    display: flex;
    height: 220px;
    width: 100%;
    justify-content: center;
    color: rgb(0, 0, 0);
    transform: translateY(70px);
    margin: 10px 0;
  }
  .achivement {
    width: 450px;
    text-align: center;
    align-items: center;
    transform: translateY(25%);
  }
  .achivement h2 {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .achivement h4 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  @include maxWidth(376px){
    .achivement_list {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      width: 100%;
      justify-content: center;
      color: rgb(0, 0, 0);
      transform: translateY(70px);
      margin: 10px 0;
    }
    .achivement {
      width: 450px;
      text-align: center;
      align-items: center;
      transform: translateY(25%);
    }
    .achivement h2 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .achivement h4 {
      font-size: 10px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}

.logos_companies {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 90px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  .logo img {
    height: 100px;
    width: 100px;
    object-fit: fill;
  }

  .logo img:hover {
    cursor: pointer;
  }
  @include maxWidth(376px){
    .logo img {
      height: 100px;
      width: 100px;
      object-fit: fill;
    }
  
    .logo img:hover {
      cursor: pointer;
    }
  }
}
