@mixin maxWidth($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin minWidth($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
.pickdoctor {
  mark {
    background-color: rgb(202, 229, 241);
    padding: 5px 15px;
    border-radius: 5px;
  }
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .time {
    margin: 15px 0px;
    width: 100%;
    background-color: white;
    // padding: 20px;
  }
  .pick-time {
    background-color: antiquewhite;
    width: 100%;
    padding: 20px;
  }
  .picktime {
    display: inline-block;
    background-color: white;
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid orange;
    border-radius: 6px;
    margin-top: 30px;
  }
  .picktime:hover {
    cursor: pointer;
    background-color: orange;
    color: white;
  }
  .picktime:focus {
    background-color: orange;
    color: white;
  }

  .infor {
    margin-top: 30px;
    margin-left: 30px;
  }
  .more-infor {
    margin-top: 70px;
    margin-left: 100px;
  }
  i {
    margin-right: 10px;
    color: #13cfae;
  }
  input {
    color: orange;
    border: 1px solid orange;
    padding: 3px 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 12px;
  }
  h5 {
    margin-left: 12px;
  }
  .doctor-expensive {
    padding: 5px;
    .doctor-exp {
      margin-left: 30px;
    }
  }
  .save {
    border: none;
    padding: 10px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .save:hover {
    background-color: rgb(228, 152, 11);
  }
  .fa-video {
    color: white;
  }
  .false {
    display: none;
  }
  .time-register {
    font-weight: 600;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 10px;
  }
  span {
    margin-left: 100px;
  }
}
@include maxWidth(820px) {
  .pickdoctor span {
    display: block;
    margin-top: 10px;
    margin-left: 0px;
  }
  .pickdoctor .picktime {
    margin-top: 10px;
    margin-right: 5px;
  }
  .pickdoctor .d-flex {
    flex-wrap: wrap;
  }
  .pickdoctor .image {
    margin: 0 auto;
  }
}
