*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 245, 245)
}
.form{
    width: 700px;
    margin: auto;
    /* border: 1px solid;
    border-radius: 5px; */
}

h1{
    text-align: center;
    margin: 20px auto;
}

.form-header{
    text-align: center;
}
.form-content{
    margin-top: 20px;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form-content div label{
    float: left;
    font-size: 17px;
    margin-left: 20px;
}

.form-content div input, .form-content div select {
    width: 550px;
    height: 35px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid silver;
}

.form-content div{
    /* margin-bottom: 15px; */
    margin: 20px 0 20px 0;
}
.form-content_name input{
    margin-left: 34px;
}
.form-content_email input{
    margin-left: 66px;
}
.form-content_dob input{
    margin-left: 32px;
}
.form-content_gender select{
    margin-left: 42px;
}
.form-content_phone input{
    margin-left: 8px;
}
.form-content_address input{
    margin-left: 55px;
}
.form-content_job input{
    margin-left: 8px;
}

.btn{
    margin: auto auto 20px auto ;
    display: flex;
}
.btn button{
    width: 30%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid silver;
    font-size: 14px;
    font-weight: 500;
}
.btn button:first-child{
    background-color: #13cfae ;
    color: white;
}
.btn button:hover{
    cursor: pointer;
    border: 1px solid;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #13cfae;
    background-color: white;
}