.footer {
  position: relative;
  color: white;
  top: 70px;
  height: 400px;
  width: 100%;
  background-color: #222222;
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 40px 80px;

  .company_info-item {
    cursor: pointer;
    color: grey;
    font-weight: 600;
  }
  .company_info-item:hover {
    color: #fff;
  }

  .company_info-item:hover,
  .company_link-item:hover,
  .company_support-item:hover {
    cursor: pointer;
  }

  .company_link-item, 
  .company_support-item{
    margin-bottom: 5px;
  }
  .company_info h3 {
    color: #13cfae;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .input-group {
    input {
      border: none;
      &:active {
        border-color: red;
      }
    }
  }
  .company_info h3:hover {
    cursor: pointer;
    color: #fff;
  }
  .company_info h4 {
    letter-spacing: 1px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
  }
  .company_info-item {
    width: 250px;
  }

  .register_for_news {
    width: 300px;
  }

  .register_for_news button {
    width: 70px;
    height: 38px;
    border: none;
    font-weight: 700;
    background-color: #13cfae;
    color: white;
    border-radius: 3px;
  }

  .register_for_news button:hover {
    border: 1px solid;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #13cfae;
    background-color: white;
  }
}
