@mixin maxWidth($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin minWidth($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

.footer {
  position: relative;
  color: white;
  width: 100%;
  background-color: #222222;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  padding: 40px 0;
.company_info, .company_link, .company_support{
  margin-right: 70px;
}
  .company_info-item {
    cursor: pointer;
    color: grey;
    font-weight: 600;
  }
  .company_info-item:hover {
    color: #fff;
  }

  .company_info-item:hover,
  .company_link-item:hover,
  .company_support-item:hover {
    cursor: pointer;
  }

  .company_link-item,
  .company_support-item {
    margin-bottom: 5px;
  }
  .company_info h3 {
    color: #13cfae;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .input-group {
    input {
      border: none;
      &:active {
        border-color: red;
      }
    }
  }
  .company_info h3:hover {
    cursor: pointer;
    color: #fff;
  }
  .company_info h4 {
    letter-spacing: 1px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
  }
  .company_info-item {
    width: 250px;
  }

  .register_for_news {
    max-width: 350px;
  }

  .register_for_news button {
    width: 70px;
    height: 38px;
    border: none;
    font-weight: 700;
    background-color: #13cfae;
    color: white;
    border-radius: 3px;
    border: 2px solid #13cfae;
  }

  .register_for_news button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #00b392;
  }

  .company_link h4, .company_support h4, .register_for_news h4{
    font-size: 28px;
  } 

  @include maxWidth(471px){
    .company_info-item {
      cursor: pointer;
      color: grey;
      font-weight: 600;
    }
    .company_info-item:hover {
      color: #fff;
    }
    
    .company_info, .company_link, .company_support{
      margin-left: 10px;
      width: 100%;
    }
    .register_for_news{
      width: 100% !important;
    }
    .company_link h4, .company_support h4, .register_for_news h4{
      font-size: 20px;
    } 

    .company_info-item:hover,
    .company_link-item:hover,
    .company_support-item:hover {
      cursor: pointer;
    }
  
    .company_link-item,
    .company_support-item {
      margin-bottom: 5px;
    }
    .company_info h3 {
      color: #13cfae;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    .input-group {
      input {
        border: none;
        &:active {
          border-color: red;
        }
      }
    }
    .company_info h3:hover {
      cursor: pointer;
      color: #fff;
    }
    .company_info h4 {
      letter-spacing: 1px;
      font-size: 18px;
      color: #fff;
      margin-bottom: 20px;
    }
    .company_info-item {
      width: 250px;
    }
  
    .register_for_news {
      width: 300px;
    }
  
    .register_for_news button {
      width: 70px;
      height: 38px;
      border: none;
      font-weight: 700;
      background-color: #13cfae;
      color: white;
      border-radius: 3px;
      border: 2px solid #13cfae;
    }
  
    .register_for_news button:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      background-color: #00b392;
    }
  }
}
